/********************************************TAG SELECTORS*****************************************************************/
body{
  background-color: #ecfbfc;
}
hr{
  border-color: #c5c5c5;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 5%;
}
h1,h2,h3 {
  color:#235952;
  font-weight:bold;}
/********************************************CLASS SELECTORS*****************************************************************/
/* NOTE: before class name add a point and class name is added akso after tag word*/
/********************************************ID SELECTORS*****************************************************************/
/* NOTE: begore Id name add # symbol*/
